<mat-toolbar   class="header">
  <div class="logo-section">
    <img src="assets/logo.png" alt="Company Logo" class="logo">
    <span class="company-name">Sanskruti Enterprises</span>
  </div>
  <span class="spacer"></span>

  <!-- Desktop Menu Buttons -->
  <div class="menu-buttons"> 
    <button mat-raised-button color="accent" routerLink="/quote">Get Quote</button>
  </div>

  <!-- Mobile Menu Icon -->
  <div class="mobile-menu">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">  
    <button mat-menu-item><a href="#about">About</a></button>
    <button mat-menu-item><a href="#services">Services</a></button>
    <button mat-menu-item><a href="#gallery">Gallery</a></button>
    <button mat-menu-item><a href="#testimonials">Testimonials</a></button>
    <button mat-menu-item><a href="#contact">Contact</a></button>
    </mat-menu>
  </div>
</mat-toolbar>